/* COMMON */
.active {
  font-weight: 700;
}
.visible {
  display: block;
}
/* Opencast */
.opencast {
  position: relative;
  width: 593px;
  border: 1px solid #000;
  background: #fff;
}
/* Opencast_top */
.opencast .opcast_top {
  padding: 20px 15px 11px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}
/* h3와 ul의 윗 margin 을 다르게 주어서 높이를 맞추는 방법도 있음 */
.opencast .opcast_top h3 {
  float: left;
  margin-right: 10px;
}
.opencast .opcast_top ul.category {
  display: flow-root;
}
.opencast .opcast_top ul.category li {
  float: left;
  font-size: 10px;
  /* border: 1px solid #000; */
}
.opencast .opcast_top ul.category li:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  margin: 1px 0;
  background: #ddd;
}
.opencast .opcast_top ul.category li a {
  margin: 0 5px;
}
.opencast .opcast_top ul.category li a:hover {
  text-decoration: underline;
}
/* Castlist */
.opencast .caslist {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 111px;
  height: 22px;
  border: 1px solid #ddd;
}
.opencast .caslist a {
  display: block;
  padding: 5px 8px;
  line-height: 1;
}
.opencast .caslist a.btn::after {
  content: '';
  float: right;
  display: block;
  width: 5px;
  height: 12px;
  background: center no-repeat url('../images/bul_down.gif');
}
.opencast .caslist ul {
  display: none;
  position: absolute;
  top: 100;
  left: -1px;
  width: 100%;
  border: 1px solid #ddd;
}
.opencast .caslist ul li a:hover {
  color: #1ec800;
  background: #ddd;
}
/* Opencast */
/* Opencast body */
.opencast .opcast_body {
  display: flow-root;
  padding: 0 15px 33px 16px;
}
/* Opencast title */
.opencast .opcast_body h4 {
  display: inline-block;
  margin-bottom: 9px;
  font-weight: 700;
}
.opencast .opcast_body h4 span {
  float: right;
  padding-top: 2px;
  margin-left: 5px;
  font-size: 10px;
  color: #999;
}
/* Opencast contents */
.opencast .contlist {
  float: left;
  margin-right: 22px;
}
.opencast .contlist li {
  float: left;
  padding: 0 2px;
}
.opencast .contlist li:not(:last-child) {
  margin-right: 5px;
}
.opencast .contlist li a img {
  width: 100px;
  height: 60px;
  margin-bottom: 4px;
  border: 1px solid #ddd;
}
.opencast .contlist li a span {
  font-size: 10px;
}
/* Infoplus */
.opencast .infoplus {
  position: relative;
  float: left;
}
.opencast .infoplus strong {
  font-weight: 700;
  margin-bottom: 1px;
  color: #1ec800;
}
.opencast .infoplus span {
  margin-bottom: 9px;
}
.opencast .infoplus::before {
  content: '';
  position: absolute;
  left: -11px;
  top: -1px;
  width: 1px;
  height: 77px;
  background: #ddd;
}
/* Page */
.opencast .page {
  position: absolute;
  top: auto;
  bottom: 11px;
  right: 16px;
}
.opencast .page span {
  float: left;
  margin-right: 7px;
  line-height: 19px;
  font-size: 10px;
}

.opencast .page a {
  float: left;
  display: inline-block;
  background: no-repeat url('../images/btn_pagearrow.gif');
  background-position: 0 0;
  width: 21px;
  height: 19px;
  text-indent: -9999px;
}
.opencast .page a:last-child {
  background-position: 100% 0;
}
